$theme-colors: (
  "dark": #000000,
  "primary": #000000,
  "alert-danger" : red,
  "secondary" : #ffc05f,
  "danger" : #dc3545,
  "bg-light" : red
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a, button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

button, input {
  border: none;
}

main {
  height: 100vh
}

.app-btn {
  width: 100%
}

#root .alert {
  position: absolute;
  right: 0;
  padding: 1px 11px;
  right: 20px;
  top: 10px;
}

.alert .btn-close {
  margin-left: 20px;
  width: 8px;
  height: 8px;
  padding: 2px;
}

.form-error {
  position: absolute;
  font-size: 12px;
  color: #dc3545
}

.form-control {
  width: 100%;
  height: 43px;
  border-radius: 2px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 10px
}

@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}

ol, ul {
  padding-left: 0px;
  margin-bottom: 0px
}

.sidebar {
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
  padding-bottom: 50px;
  position: fixed;
  width: 200px;
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  background-color: #000000;
}

.main_content {
  padding-left: 200px;
  width: 100%;
  padding-top: 0px !important;
  position: relative;
  min-height: 100vh;
  padding-bottom: 0px;
}

.main_content .main_content_inner {
  position: relative;
  background: #fff;
  margin: 0;
  z-index: 22;
  border-radius: 0px;
  padding: 15px 20px;
}

.main_content .navbar {
  padding: 5px 25px;
  height: 50px;
}

.sidebar .app-logo {
  margin: 0px 0px;
  background-color: #fff;
  height: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-logo a, .app-logo a:hover{
  color: #000;
}

.sidebar_icon, .sidebar_close_icon {
  font-size: 22px;
  cursor: pointer;
}

.main_content .navbar-brand {
  color: #fff
}

@media (max-width: 991px){
  .sidebar {
    left: -280px;
    -webkit-transition: 0.5s;
    transition: 0.4s;
    top: 0;
    width: 280px;
  }

  .mobile-none {
    display: none
  }
}

@media (max-width: 992px) {
  .active_sidebar .sidebar{
    left: 0;
    box-shadow: 0 5px 20px rgba(54, 52, 52, 0.2);
  }

  .main_content {
    padding: 120px 0 100px 0;
  }

  .main_content .main_content_iner {
    padding: 10px 0px;
  }
}


@media (min-width: 992px){
  .d-lg-none {
    display: none!important;
  }

  #desktop_wrapper .main_content {
    padding-left: 0px;
    transition: all 0.3s ease;
  }

  #desktop_wrapper .sidebar {
    padding-left: 0px;
    transition: all 0.3s ease;
    width: 0px;
  }

  .desktop_active .sidebar{
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 99;
    padding-bottom: 50px;
    position: fixed;
    width: 200px !important;
    z-index: 999;
    overflow: hidden;
    overflow-y: auto;
    background: #000000;
  }

  .desktop_active .main_content {
    padding-left: 200px !important;
    transition: all 0.3s ease;
  }
}

.admin-menu li > a {
  padding: 10px 10px;
  margin: 8px 10px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-size: 14px;
  width: 200px
}

.admin-menu li > a:hover {
  background: #1d2636;
}

.nav-link:hover, .nav-link:focus {
  color: #1d2636
}

.dropdown-toggle::after {
  display: none !important
}

.profile-image {
  width: 30px;
  max-height: 30px;
  margin-left: 8px;
  height: 35px;
  border-radius: 100px;
}

.sidebar_icon, .sidebar_close_icon {
  font-size: 22px;
  cursor: pointer;
  color: #fff; 
}

.sidebar_close_icon {
  position: absolute;
  right: 15px;
  color: #000
}

.user_name img {
  margin-right: 10px;
}

.dropdown-menu {
  right: 0 !important
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  right: 22px;
}

.logo_text {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.selected_menu {
  color: #fff !important;
  background: #1d2636 !important;
}