$theme-colors: (
  "dark": #000000,
  "primary": #000000,
  "alert-danger" : red,
  "secondary" : #ffc05f,
  "danger" : #dc3545,
  "bg-light" : red
);


main {
  height: 100vh
}

.app-btn {
  width: 100%
}

#root .alert {
  position: absolute;
  right: 0;
  padding: 1px 11px;
  right: 20px;
  top: 20px;
}

.alert .btn-close {
  margin-left: 20px;
  width: 8px;
  height: 8px;
  padding: 2px;
}

.form-error {
  position: absolute;
  font-size: 12px;
  color: #dc3545
}

.form-control {
  width: 100%;
  height: 43px;
  border-radius: 2px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 10px
}


@import "~bootstrap/scss/bootstrap";